$count: 10;
$center: center;
$h1: 70px;
$h2: 55px;
$h3: 45px;
$h4: 35px;
$h5: 20px;
$borderStyle: inset;
$left: 2;
$right: 3;
$customRed: rgb(161, 76, 76);
$customBlue: rgb(10, 138, 212);
$backgroundC: rgb(248, 121, 121);
